module-summary-generation/LogicApps/SummaryGenerator.json
{
    "$connections": {
        "value": {
            "aci": {
                "connectionId": "",
                "connectionName": "aci",
                "id": ""
            },
            "onedrive": {
                "connectionId": "",
                "connectionName": "onedrive",
                "id": ""
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_ACI_MyClippings-Parser": {
                "inputs": {
                    "body": {
                        "location": "eastus",
                        "properties": {
                            "containers": [
                                {
                                    "name": "myclippingsparser-inst",
                                    "properties": {
                                        "image": "fboucher/myclippings-parser:v1",
                                        "ports": [
                                            {
                                                "port": 80,
                                                "protocol": "TCP"
                                            }
                                        ],
                                        "resources": {
                                            "requests": {
                                                "cpu": 2,
                                                "memoryInGB": 3.5
                                            }
                                        }
                                    }
                                }
                            ],
                            "ipAddress": {
                                "ports": [
                                    {
                                        "port": 80,
                                        "protocol": "TCP"
                                    }
                                ],
                                "type": "Public"
                            },
                            "osType": "Linux",
                            "restartPolicy": "OnFailure"
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['aci']['connectionId']"
                        }
                    },
                    "method": "put",
                    "path": "",
                    "queries": {
                        "x-ms-api-version": "2017-10-01-preview"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "For_each_Notes": {
                "actions": {
                    "If_Type_is_Note": {
                        "actions": {
                            "Append_to_array_variable": {
                                "inputs": {
                                    "name": "ReadingNotes",
                                    "value": "@body('NoteCleaner')"
                                },
                                "runAfter": {
                                    "NoteCleaner": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "AppendToArrayVariable"
                            },
                            "NoteCleaner": {
                                "inputs": {
                                    "body": {
                                        "author": "@{items('For_each_Notes').author}",
                                        "beginningLocation": "@{items('For_each_Notes').beginningLocation}",
                                        "beginningPage": "@{items('For_each_Notes').beginningPage}",
                                        "bookName": "@{items('For_each_Notes').bookName}",
                                        "clippingType": "@{items('For_each_Notes').clippingType}",
                                        "dateAdded": "@{items('For_each_Notes').dateAdded}",
                                        "location": "@{items('For_each_Notes').location}",
                                        "page": "@{items('For_each_Notes').page}",
                                        "text": "@{items('For_each_Notes').text}"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/7996ab95-e0f1-497f-9ccf-9a7618d92842/resourceGroups/FrankStreamDev/providers/Microsoft.Logic/workflows/NoteCleaner"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_variable": {
                                    "inputs": {
                                        "name": "dummy",
                                        "value": true
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@variables('isNote')",
                                        "@true"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Switch": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Set_clippingType": {
                        "inputs": {
                            "name": "clippingType",
                            "value": "@{string(items('For_each_Notes')['clippingType'])}"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Switch": {
                        "cases": {
                            "Case": {
                                "actions": {
                                    "Set_variable_4": {
                                        "inputs": {
                                            "name": "isNote",
                                            "value": "@false"
                                        },
                                        "runAfter": {},
                                        "type": "SetVariable"
                                    }
                                },
                                "case": 0
                            },
                            "Case_1": {
                                "actions": {
                                    "Set_variable_3": {
                                        "inputs": {
                                            "name": "isNote",
                                            "value": "@true"
                                        },
                                        "runAfter": {},
                                        "type": "SetVariable"
                                    }
                                },
                                "case": 1
                            }
                        },
                        "default": {
                            "actions": {
                                "Set_variable_2": {
                                    "inputs": {
                                        "name": "isNote",
                                        "value": "@false"
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": "@variables('clippingType')",
                        "runAfter": {
                            "Set_clippingType": [
                                "Succeeded"
                            ]
                        },
                        "type": "Switch"
                    }
                },
                "foreach": "@body('HTTP')",
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "body": "@triggerBody()",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "http://@{body('Create_ACI_MyClippings-Parser')?['properties']?['ipAddress']?['ip']}/api/myclippings"
                },
                "runAfter": {
                    "Until": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Init_ReadingNotes_Collection": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ReadingNotes",
                            "type": "Array"
                        }
                    ]
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Init_clippingType": {
                "inputs": {
                    "variables": [
                        {
                            "name": "clippingType",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Init_ReadingNotes_Collection": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "dummy",
                            "type": "Boolean"
                        }
                    ]
                },
                "runAfter": {
                    "Init_clippingType": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "isNote",
                            "type": "Boolean",
                            "value": "@false"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Until": {
                "actions": {
                    "For_each": {
                        "actions": {
                            "Condition": {
                                "actions": {},
                                "else": {
                                    "actions": {
                                        "Delay": {
                                            "inputs": {
                                                "interval": {
                                                    "count": 15,
                                                    "unit": "Second"
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "Wait"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@items('For_each')?['properties']?['instanceView']?['currentState']?['state']",
                                                "Running"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {},
                                "type": "If"
                            }
                        },
                        "foreach": "@body('Get_properties_of_a_container_group')['properties']['containers']",
                        "runAfter": {
                            "Get_properties_of_a_container_group": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Get_properties_of_a_container_group": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['aci']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "",
                            "queries": {
                                "x-ms-api-version": "2017-10-01-preview"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "expression": "@equals(body('Create_ACI_MyClippings-Parser')?['properties']?['instanceView']?['state'], 'Succeeded')",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Create_ACI_MyClippings-Parser": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_file_is_created": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/onnewfile",
                    "queries": {
                        "folderId": "B612C98DD673F9C1!28463",
                        "inferContentType": true
                    }
                },
                "metadata": {
                    "B612C98DD673F9C1!28463": "/dev/Notes_V3"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "type": "ApiConnection"
            }
        }
    }
}